---
import Layout from "../layouts/Layout.astro";
import PricelistContent from "../content/pricelist/index.mdx";
---

<Layout>
	<main>
		<PricelistContent />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 1rem;
		padding-top: 15rem;
		align-items: center;
		margin: 0 auto;
		max-width: 75ch;
		/* background-image: url(/bubbles-bg.svg); */

		h1 {
			font-size: 3rem;
		}

		h2 {
			margin-top: 2rem;
		}

		table {
			width: 100%;
			display: grid;
			gap: 0.75rem;
			padding: 1rem;

			tbody {
				display: grid;
				gap: 0.5rem;
			}

			tr {
				display: flex;
				line-height: 1.4;

				td:first-child,
				th {
					flex-grow: 1;
					text-align: left;
				}

				th:last-child,
				td:last-child {
					text-align: right;
					min-width: 5rem;
				}
			}
		}
	}
</style>
