---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import bulb from "/src/assets/footer-bulb.svg";
import FooterMap from "./FooterMap.astro";
---

<footer>
	<FooterMap />
	<div class="info">
		<div class="info-container">
			<h3>Pranie Komfortu</h3>
			<a href="https://maps.app.goo.gl/CkoHPjmg9HpEnA2p6" class="info-item">
				<Icon name={"tabler:map-pin"} size={32} />
				<span>ul. Ernesta Cieślewskiego 5/60</span>
			</a>
			<div class="info-item">
				<Icon name={"tabler:phone"} size={32} />
				<span>+48 696 670 106</span>
			</div>
			<a class="info-item" href="mailto:praniekomfortu@gmail.com">
				<Icon name="tabler:mail" size={32} />praniekomfortu@gmail.com
			</a>

			<ul class="info-item">
				<li>
					<a href="https://www.tiktok.com/@pranie.komfortu">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
							<path
								fill="currentColor"
								d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
							>
							</path>
						</svg>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/PranieKomfortu/">
						<Icon name="mdi:facebook" size={48} />
					</a>
				</li>
			</ul>
		</div>
		<Image src={bulb} alt={"bulb"} />
	</div>
</footer>

<style>
	footer {
		display: grid;
		grid-template-columns: 45fr 55fr;
		grid-template-rows: 1fr;
		height: 25rem;
		padding-top: 7rem;
		overflow: hidden;

		& .info {
			height: 25rem;
			width: 45rem;
			position: relative;
			grid-row: 1;
			grid-column: 1;
			display: flex;
			align-items: center;

			.info-container {
				z-index: 2;
				color: white;
				display: flex;
				padding-left: 5rem;

				gap: 1rem;
				flex-direction: column;
				font-weight: 500;
				font-size: 1.125rem;

				h3 {
					color: #09152a;
					font-size: 2.5rem;
					margin-bottom: 1rem;
				}

				.info-item {
					display: flex;
					gap: 1rem;
					align-items: center;
					list-style: none;
				}

				a {
					color: white;
				}
			}

			& {
				img {
					position: absolute;
					top: -30%;
					z-index: -1;
				}
			}
		}
	}

	@media (max-width: 1200px) {
		footer {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			height: 50rem;
			width: 100%;

			& .info {
				width: 100%;
				grid-row: 2;
				background: #19a0b5;
			}

			& h3 {
				font-size: 2rem !important;
			}
		}
	}
</style>
