---
import PhotoDiff from "/src/components/photo-diff.svelte";
---

<section>
  <PhotoDiff client:visible />
</section>

<style>
  section {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
