---
import PhotoDiff from "/src/components/photo-diff.svelte";
---

<section>
	<h2>Przesuń suwakiem i zobacz metamorfozę!</h2>
	<p>
		Zanurz się w magiczną przemianę – przesuwaj i porównuj zdjęcia przed i po, żeby na własne oczy
		zobaczyć efekty naszej pracy. Niezależnie czy to zmiana wyglądu, przestrzeni czy detali –
		rezultat mówi sam za siebie.
	</p>
	<PhotoDiff client:visible />
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	p {
		max-width: 65ch;
		font-size: 1.125rem;
	}
</style>
